{% extends 'templates/base/kindabase.html' %}
{% block title %} Home {% endblock %}

{% block content %}

<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="/assets/kindatheme/edutech/images/favicons.png">
  <div class="container">
    <!-- slider item -->
    <div class="hero-slider-item">
      <div class="row">
        <div class="col-md-11">
          <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3"
            data-animation-in="fadeInLeft" data-delay-in=".1" style="text-align: left;">Technology for business
            efficiency, growth, access to finance and employment creation</h1>
          <p class="text-muted mb-6" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3"
            data-animation-in="fadeInLeft" data-delay-in=".4" style="font-size:22px">Integrated Tech Solutions for
            Startups, SMEs, Education Services and Health Services. </p>
          <p class="text-muted mb-6" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3"
            data-animation-in="fadeInLeft" data-delay-in=".4" style="font-size:22px">Wide selection of Edtech,
            HealthTech or EnterpriseTech Modules, integrated with Accounting, HR, Payroll and CRM..</p>
          <a href="/kindatech/signup" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5"
            data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Get Started Kindatech </a>
            <div class="partners" style="align-items: center; justify-items: center;" >
              <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3"
                data-animation-in="fadeInLeft" data-delay-in=".1" style="text-align: center;">Partners/Clients</h1>
                <img src="./signup/clients_images /solidaridad.png" alt="">
                <img src="./signup/clients_images /southview.jpeg" alt="">
                <img src="./signup/clients_images /Fitcity.png" alt="">
                <img src="./signup/clients_images /BPTN.png" alt="">
                <img src="./signup/clients_images /glam.jpeg" alt="">
                <img src="./signup/clients_images /fnb zambia.png" alt="">
                <img src="./signup/clients_images /WEAC.png" style="width: 15rem;">
    
              </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- /hero slider -->


{% endblock %}