
{% extends 'templates/base/kindabase.html' %}
{% block title %} EdTech {% endblock %}


{% block content %}

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupPhone" name="signupPhone" placeholder="Phone">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Name">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="row">
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Name">
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- page title -->
<section class="page-title-section overlay" data-background="/assets/kindatech_theme/educenter/theme/images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb mb-2">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="services">Services</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">EdTech</li>
        </ul>
        <p class="text-lighten mb-0">For enhanced education performance, and learner retention. Developed to reduce the learning gaps caused by menstrual absence for women and girls..</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- notice details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <div class="text-center mr-4">
            <div class="p-4 bg-primary text-white">
                <span class="h2 d-block">Key</span> Benefits
            </div>
          </div>
          <!-- notice content -->
          <div>
            <h5 class="mb-4">Kinda Edtech benefits to learning institutions</h5>
            <p>Overall, the use of Kinda EdTech provides a range of benefits for students and institutions, helping to improve learning, increase access to education, and make education more efficient and flexible.</p>
            <p>There are several benefits of using the Kinda Educational Technology (EdTech) for students and institutions.</p>
            <p>Some of these include:</p>
            <!-- <p>Quam justo. Non ligula turpis sem, velit dolor luctus venenatis. Eros eget at vitae, wisi diam ut ad convallis, in gravida nunc inceptos sed leo donec, duis dolorem adipiscing arcu facilisis. Purus lorem vulputate et condimentum in felis, porttitor accumsan id bibendum diam varius, lorem diam molestie erat a amet urna, dolor pellentesque lectus justo adipiscing. Laoreet est velit vestibulum, laoreet luctus bibendum sed ornare amet elementum, ullamcorper nibh in sollicitudin donec arcu lorem.</p> -->
            <ul class="list-styled mb-5">
              <li><h5 class="mb-4">Enhanced learning</h5>Kinda EdTech has the ability to provide students with access to a wide range of digital educational resources, such as online courses, interactive learning tools, and virtual laboratories. This can help to engage students and make learning more interactive, personalized, and effective.</li>
              <li><h5 class="mb-4">Improved access to education</h5> Kinda EdTech provides both online and offline access. It helps to make education more accessible, particularly for girls and women who are not able to attend physical lessons due to menstrual challenges, persons with disability as well as students in remote or underserved areas. By using digital tools and resources, students can access high-quality education regardless of their location or circumstances.</li>
              <li><h5 class="mb-4">Increased efficiency</h5>EdTech also helps institutions to streamline their operations and reduce the costs associated with providing education. For example, online learning platforms can help institutions to deliver courses more efficiently, and can also reduce the need for instructor’s physical presence, physical classrooms and other infrastructure  .</li>
              <li><h5 class="mb-4">Greater flexibility</h5> Kinda EdTech provides students with greater flexibility in terms of where, when, and how they access education. This can help students to balance their studies with other commitments, such as work or family responsibilities, and can make it easier for them to fit education into their lives.</li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /notice details -->

{% endblock %}
