{% extends 'templates/base/kindabase.html' %}
{% block title %} Sign Up {% endblock %}


{% block content %}

<section class="page-title-section overlay pb-0 px-0" style="margin-bottom: 0px;"  >
    <div class="container">
      <div class="row" >
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb mb-2">
            <li class="list-inline-item h2 text-primary font-secondary">Sign up</li>
          </ul> 
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
    <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Get a demo</h4>                   
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>             

                <div class="modal-body">
                    <form role="form" method="POST" action="">
                        <input type="hidden" name="_token" value="">
                        <div class="form-group">
                            <label class="control-label">Your Email </label>
                            <div>
                                <input type="email" class="form-control input-lg" id="demo_email" name="email" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm Email</label>
                            <div>
                                <input type="email" class="form-control input-lg" id="demo_cemail" name="email" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect" onclick="customer_details()">Send Request</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
                <!--/.Content-->
        </div>
    </div>

    <section class="section bg-pricing-2 py-0" id="step-1"  style="background-color: #efeff4; "  >
        <div class="container"  style="box-shadow: rgba(139, 138, 138, 0.35) 0px 5px 5px; margin-top: 0px; background-color: #fff;">
            <div class="row justify-content-center" >
                <!-- <div id="multi-step-form-container"> -->
                    <!-- Form Steps / Progress Bar -->
                    <!-- <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0 py-4" style="margin-bottom: 0px;">
                      
                        <li class="form-stepper-active text-center form-stepper-list" step="1">
                            <a class="mx-2">
                                <span class="form-stepper-circle">
                                    <span>1</span>
                                </span>
                                <div class="label">Select ERP Modules</div>
                            </a>
                        </li>
                  
                        <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                            <a class="mx-2">
                                <span class="form-stepper-circle text-muted">
                                    <span>2</span>
                                </span>
                                <div class="label text-muted">Customer Details</div>
                            </a>
                        </li>
                
                        <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                            <a class="mx-2">
                                <span class="form-stepper-circle text-muted">
                                    <span>3</span>
                                </span>
                                <div class="label text-muted">Submit</div>
                            </a>
                        </li>
                    </ul> -->
                    <!-- Step Wise Form Content -->
                    <form id="userAccountSetupForm" name="userAccountSetupForm" enctype="multipart/form-data" method="POST">
                        <!-- Step 1 Content -->
                        <section id="step-0" class="form-step">
                          
                            <div class="row business-techs justify-content-evenly ">
                                <div class="col-md-12" >
                                
                                    <div class="bg-pricing-2 pricing-box border py-4 px-2 px-md-5 h-100" style="box-shadow: rgba(139, 138, 138, 0.35) 0px 5px 15px; padding-top: 4px;">
                                        <h3 class="mb-xl-0 mb-lg-4" >Enterprise Tech</h3>
                                        <p class="pt-3 text-secondary">For business efficiency and access to finance for business growth and employment creation.</p>    
                                        <div class="row justify-content-around align-items-start">
                                            <div class="col-md-7 border-light" style="height: fit-content; ">                            
                                                <div class="py-2">      
                                                    <h5 class="head-title "style="color: #ffbc3b;">Select Modules</h5>                                                                                
                                                    <ul class="py-3" style="list-style-type: none;" onchange = "module_fee()" >
                                                        <li style="margin-top: 0px;">
                                                            <input type="checkbox" id="enttech-account" name="ent-tech-account" 
                                                            value="Accounting" >
                                                            <label for="ent-tech-account" style="padding-left: 5px;"> Accounting</label><br>
                                                        </li>                         
                                                        <li style="margin-top: 5px;">
                                                            <input type="checkbox" id="enttech-hr" name="ent-tech-hr" 
                                                            value="HR and Payroll" >
                                                            <label for="ent-tech-hr" style="padding-left: 5px;" > HR and Payroll</label><br>
                                                        </li>
                                                        <li style="margin-top: 5px;">
                                                            <input type="checkbox" id="enttech-stock" name="ent-tech-inventory" value="Stock and Inventory">
                                                            <label for="ent-tech-inventory" style="padding-left: 5px;"> Stock and Inventory</label><br>
                                                        </li>
                                                        <li style="margin-top: 5px;">
                                                            <input type="checkbox" id="enttech-loan" name="ent-tech-loan" value="Loan Management">
                                                            <label for="ent-tech-loan" style="padding-left: 5px;"> Loan Management</label><br>
                                                        </li>
                                                        <li style="margin-top: 5px;">
                                                            <input type="checkbox" id="enttech-project" name="ent-tech-project" value="Project Mnagaement">
                                                            <label for="ent-tech-project" style="padding-left: 5px;"> Project Management</label><br>
                                                        </li>
                                                        <li style="margin-top: 5px;">
                                                            <input type="checkbox" id="enttech-crm" name="ent-tech-crm" value="CRM">
                                                            <label for="enttech-crm" style="padding-left: 5px;"> CRM</label><br>
                                                        </li>
                                                    </ul>                                                                    
                                                </div>     
                                                 
                                            </div>  

                                            <div class="col-md-5 border-light" style="height: fit-content; ">                            
                                                <div class="py-0">
                                                    <span id="entfee_start">Starts at</span>
                                                    <h2 class="display-7 mb-0  text-bold" id="entamt" name="enstamt" style="display: block;">$30</h2>
                                                    <span class="mt-0 text-muted" id="entfee_per">per month</span>
                                                    <div class="input-text justify-content-between" style="display: flex;" >                                            
                                                        <div class="input-div py-0 " >
                                                            <label for="entertech-interval">Payment Interval</label><br>
            
                                                            <select name="entertech-interval" id="entertech-intervals" style="background: inherit;" onchange = "module_fee()">
                                                                <option value="null" selected disabled>Choose one...</option>
                                                                <option value="Monthly" selected>Monthly</option>
                                                                <option value="Quarterly">Quarterly</option>
                                                                <option value="Annually">Annually</option>
                                                            </select>           
                                                        </div>     
                                                        <div class="input-div py-0">
                                                            <label for="entertech-user">No. of Users</label>                                                        
                                                            <input type="number" id="entertech-user" name="entertech-user" min="5" max="5000" value="5" 
                                                            style="width: 75%; height: 35px; text-indent: 10px; " onchange = "module_fee()"> 
                                                        </div>                                                        
                                                    </div>     

                                                    <div class="btn justify-content-around" style="display: flex; gap: 25px;" >                                            
                                                        <button class="btn btn-primary btn-navigate-form-step mb-2" step_number="2" id="entertech-buy" style="width: 50%;"> Subscribe</button>                                                     
                                                        <button class="btn btn-secondary mb-2" data-toggle="modal" data-target="#orangeModalSubscription" id="entertech-buy" style="width: 50%;">Request demo</button>                                                   
                                                        <!-- <button class="btn btn-secondary" data-toggle="modal" data-target="#orangeModalSubscription">Open Modal</button> -->
                                                    </div>  

                                                    <!-- <div class="buttons">
                                                        <div class="action_btn">                                            
                                                            <button name="submit" class="action_btn submit" type="submit" value="Save" onclick="myFunction()">Save</button>
                                                            <button name="submit" class="action_btn cancel" type="submit" value="Cancel" onclick="myFunction2()">Cancel</button>
                                                
                                                            <p id="saved"></p>
                                            
                                                        </div>
                                            
                                                    </div> -->

                                                </div>   
                                            </div>  
        
                                        </div>
                      
                                    </div>
                                </div>                
                            </div>
                            
                            <div class="row business-techs pt-1 justify-content-evenly" style="padding: 0px; ">
                                <div class="col-md-4" style="border-radius: 25px; ">
                                    <div class="bg-pricing-2 pricing-box border  py-4 px-0 px-md-5 vh-100" style="box-shadow: rgba(139, 138, 138, 0.35) 0px 5px 15px; ">
                                        <h3 class="mb-xl-0 mb-lg-4" >Integrated Education</h3>
                                        <p class="pt-4 text-stroke--primary">Education Management with LMS, Exam Management and Performance Analytics.</p>
        
                                        <div class="border-bottom pb-1 " >
                                            <span id="edufee_start">Starts at</span>
                                            <h2 class="display-7 mb-0  text-bold" id='edufee' style="display: block;">$200</h2>            
                                            <span class="mb-0 text-muted" id="edufee_per">per month</span>
                                        </div>
        
                                        <div class="border-bottom py-1" style=" padding: 0px; margin: 0px;  ">                                        
                                            <div class="input-text py-1" style=" margin-top: 0px; margin-bottom: 10px;">                                              
                                                <div class="input-div d-flex justify-content-between">
                                                    <label for="edu-users-interval">Payment Interval</label><br>
                                                    
                                                    <select name="edu-users-interval" id="eduusers-intervals" style="background: inherit;" onchange = "module_fee()">
                                                        <option value="null" selected disabled>Choose one...</option>
                                                        <option  value="Monthly" selected>Monthly</option>
                                                        <option value="Quarterly">Quarterly</option>
                                                        <option value="Annually">Annually</option>
                                                    </select>                                                        
                                                </div>                                                            
                                            </div>                                                                   
                                    
                                            <div class="input-text" style=" padding: 0px; margin: 0px;" >
                                                <div class="input-div d-flex "  > 
                                                    <label class="label" id="lbledustud_no" for="edustud_no" 
                                                    style="font-size: 15px; text-align: left; align-content: flex-start; font-weight: bold; ">Students at $0.50/ student per month</label>
                                                    <input class="input-field" style="width: 50%; align-items: right; height: 30px; border-color: rgb(223, 219, 219); " type="number"
                                                    required min="0" max="50000" value="0" id="edustud_no" onchange = "module_fee()">
                                                    
                                                </div>
                                            </div>
        
                                        </div>
    
                                        <div class="py-2" >                                    
                                            <h5 class="head-title py-1"style="color: #ffbc3b;">Available Modules</h5>                                                                                 
                                            <ul class="py-1 px-3" style="list-style-type: none; ">                                                
                                                <li><label style="margin-bottom: 10px">&#x2705;  Finance</label><br></li>
                                                <li><label style="margin-bottom: 10px">&#x2705;  Human Resource</label><br></li>
                                                <li><label style="margin-bottom: 10px">&#x2705;  Payroll</label><br></li>
                                                <li><label style=" margin-bottom: 10px;">&#x2705;  Stock Management</label></li>    
                                            </ul> 
                                        </div>
                                        
                                        <div class="py-0">
                                            <button class="btn btn-primary btn-navigate-form-step full-width" step_number="2" id="entertech-buy" style="width: 100%;">  Get started  </button>                               
                                        </div>  
                                    </div>
                                </div>
                                
        
                                <!-- Integrated Manufacturing -->
        
                                <div class="col-md-4" style="border-radius: 25px; ">
                                    <div class="bg-pricing-2 pricing-box border py-4 px-md-5 vh-100" style="box-shadow: rgba(139, 138, 138, 0.35) 0px 5px 15px; ">
                                        <h3 class="mb-xl-0 mb-lg-4" >Manufacturing</h3>
                                        <p class="pt-4 text-stroke--primary">Manufacturing processes including Inventory, Quality, CRM and Asset Management.</p>
        
                                        <div class="border-bottom pb-2 mt-2 py-2" >
                                            <span id="manfee_start"> Starts at</span>
                                            <h2 class="display-7 mb-0  text-bold" id = "manfee" style="display: block;">$200</h2>        
                                            <span class="mb-0 text-muted" id="manfee_per">per month</span>
                                        </div>    
        
                                        <div class="border-bottom" style="margin: 2px 0px 8px; ">                                        
                                            <div class="input-text ">                                              
                                                <div class="input-div flex justify-content-between">
                                                    <label for="manusers-intervals">Payment Interval</label><br>
                                                    <select name="man-users-interval" id="manusers-intervals" style="background: inherit;" onchange = "module_fee()">
                                                        <option value="null" selected disabled>Choose one...</option>
                                                        <option  value="Monthly" selected>Monthly</option>
                                                        <option value="Quarterly">Quarterly</option>
                                                        <option value="Annually">Annually</option>
                                                    </select>                                                        
                                                </div>                                                            
                                            </div>
                                    
                                        </div>
        
                                        <div class="py-2" >                                    
                                            <h5 class="head-title py-1"style="color: #ffbc3b;">Available Modules</h5>                                                                                 
                                            <ul class="py-1 px-3" style="list-style-type: none; ">                                                
                                                <li><label style="margin-bottom: 10px">&#x2705;  Finance</label><br></li>
                                                <li><label style="margin-bottom: 10px">&#x2705;  Human Resource</label><br></li>
                                                <li><label style="margin-bottom: 10px">&#x2705;  Payroll</label><br></li>
                                                <li><label style="margin-bottom: 10px">&#x2705;  Project Management</label><br></li>    
                                            </ul> 
                                        </div>
                                        <div class="py-0">
                                            <button class="btn btn-primary btn-navigate-form-step full-width" step_number="2" id="entertech-buy" style="width: 100%;"> Get started </button>                               
                                        </div>   
                                    </div>
                                </div>
        
                                <!-- Integrated Manufacturing -->                                  
        
                                <!-- Integrated Health -->        
                                <div class="col-md-4" style="border-radius: 25px; ">
                                    <div class="bg-pricing-2 pricing-box border py-4 px-md-5 vh-100" style="box-shadow: rgba(139, 138, 138, 0.35) 0px 5px 15px; ">
                                        <h3 class="mb-xl-0 mb-lg-4" >Integrated Healthcare</h3>
                                        <p class="pt-4 text-stroke--primary">Heathcare Facility and Patient Management with Rehabilitation and physiotherapy.</p>
        
                                        <div class="border-bottom pb-1" >
                                            <span id="medfee_start">Starts at</span>
                                            <h2 class="display-7 mb-0  text-bold" id = "healthfee" style="display: block;">$200</h2>        
                                            <span class="mb-0 text-muted" id="medfee_per">per month</span>
                                        </div>
        
                                        <div class="border-bottom" style="margin-top: 2px;">                                        
                                            <div class="input-text">                                              
                                                <div class="input-div flex justify-content-between">
                                                    <label for="husers-intervals">Payment Interval</label><br>
                                                    <select name="husers-interval" id="husers-intervals" style="background: inherit;" onchange = "module_fee()">
                                                        <option value="null" selected disabled>Choose one...</option>
                                                        <option  value="Monthly" selected>Monthly</option>
                                                        <option value="Quarterly">Quarterly</option>
                                                        <option value="Annually">Annually</option>
                                                    </select>                                                        
                                                </div>                                                            
                                            </div>                          
                                        </div>
        
                                        <div class="py-2" >                                    
                                            <h5 class="head-title py-1"style="color: #ffbc3b;">Available Modules</h5>                                                                                 
                                            <ul class="py-1 px-2" style="list-style-type: none; ">                                                
                                                <li><label style="margin-bottom: 10px">&#x2705;  In/Out-patient</label><br></li>
                                                <li><label style="margin-bottom: 10px">&#x2705;  Laboratory</label><br></li>
                                                <li><label style="margin-bottom: 10px">&#x2705;  Pharmacy</label><br></li>
                                                <li><label style="margin-bottom: 10px">&#x2705;  Billing and Digital Payments</label><br></li>
    
                                            </ul> 
                                        </div>
        
                                        <div class="py-0">    
                                            <button class="btn btn-primary btn-navigate-form-step full-width" step_number="2" id="entertech-buy" style="width: 100%;">
                                                Get started
                                            </button>   
                            
                                        </div>   


                                        <!-- <a href="javascript:void(0)" class="btn btn-info text-white full-width" style="width: 100%;">Sign Up</a> -->
                                    </div>
                                 </div>
                                    <!-- Integrated Health -->
                            </div> 
                            
    
                            
                        </section>
                        <!-- Step 2 Content, default hidden on page load. -->
                        <section id="step-2" class="form-step d-none py-2 mt-2">
                            <!-- <h2 class="font-normal">Customer Information</h2> -->
                            <div class="container">
                                <div class="card" style="border-top-left-radius:20px;  border-bottom-left-radius:20px;">
                                    <div class="form" >
                                        <div class="left-side" style="height: auto;"  >
                                            <div class="left-heading">
                                                <h3>Customer Information</h3>

                                                <ul class="progress-bar" style="height: 100%; text-align: left;" >
                                                    <li class="active">ERP Module</li>
                                                    <li class="active">Company Details</li>
                                                    <li  class="active">Contact Person</li>
                                                    <li class="active">Submit </li>
                                                    <span>&nbsp;</span>
                                                    <span>&nbsp;</span> 
                                                </ul>
                                            </div>
                                      
                                            <!-- <ul class="progress-bar" style="height: 100%;" >
                                                <li class="active">Company </li>
                                                <li  class="active">Contact Person</li>
                                                <li class="active">Submit </li>
                                                <span>&nbsp;</span>
                                                <span>&nbsp;</span> 
                                            </ul> -->
                                                                    
                                        </div>
                                        
                                        <div class="right-side" >
                                            <div class="main active">
                                                <div class="text " style="padding: 0px 20px 0px; " >
                                                    <h5>Company Information</h5>                                          
                                                    <div class="input-text">
                                                        <div class="input-div">
                                                            <input type="text" class="form-control" id="name" name="name" required require> 
                                                            <span>Company Name</span>
                                                        </div> 
                                                        <div class="input-div"> 
                                                            <input type="email" class="form-control" id="comp_email" require required>
                                                            <!-- <input type="email" class="form-control input-lg" id="demo_cemail" name="email" required > -->
                                                            <span>Email Address</span>
                                                        </div>

                                                    </div>
                                                    <div class="input-text">
                                                        <div class="input-div">
                                                            <div class="form-group input-group">
                                                               
                                                                <input name="" class="form-control" type="text" id="domain" require required >
                                                                <span>Preferred Domain</span>                                                                
                                                                <input type="text" class="form-control" id="subdomain" value=".kindatech.group" disabled>
                                                            </div> 
                                                        </div>
                                                        <div class="input-div">
                                                            <div class="input-group">
                                                                <input name="country_code" id="country_code" class="form-control" 
                                                                 placeholder="254" type="text" style="max-width: 25%;">  
                                                                <input name="co_phone" id="comp_phone" class="form-control" placeholder="703785199" type="text">
                                                                <span>Phone Number</span>
                                                            </div> 
                                                        </div>
                                                        
                                                    </div>                                                 

                                                    <div class="input-text">
                                                        <div class="input-div">
                                                            <select>
                                                                <option>Select Country</option>
                                                                <option>Kenya</option>
                                                                <option>Zambia</option>
                                                                <option>South Africa</option>                                                  
                                                            </select>
                                                        
                                                        </div>
                                                        <div class="input-div">                                                                    
                                                            <select>
                                                                <option>Select Industry</option>
                                                                <option>Accounting</option>
                                                                <option>Education</option>
                                                                <option>Manufacturing</option>
                                                                <option>Healthcare</option>
                                                                <option>Agriculture</option>
                                                                <option>Real Estate</option>
                                                                <option>Construction</option>
                                                                <option>Technology</option>                                              
                                                            </select>
                                                        </div>
                                                    </div>   
                                                                                                        
                                                </div>

                                                <div class="text" style="padding: 20px 20px 10px;">
                                                    <h5>Contact Person </h5>                                          
                                                    <div class="input-text">
                                                        <div class="input-div">
                                                            <input type="text" class="form-control" id="contact_person" name="contact_person" required>
                                                            <span>Contact Person</span>
                                                        </div> 
                                                        <div class="input-div"> 
                                                            <input type="email" class="form-control" id="contact_email" required>
                                                            <span>Email Address</span>
                                                        </div>

                                                    </div>
                                                    <div class="input-text">
                                                        <div class="input-div">
                                                            <input type="text" class="form-control" id="contact_phone" name="contact_phone" required>
                                                            <span>Phone Number</span>
                                                        </div> 
                                                        <div class="input-div"> 
                                                            <input type="text" class="form-control" id="contact_design" required>
                                                            <span>Designation</span>
                                                        </div>
                                                    </div>                                                 
                                                </div>

                                                <div class="py-0 justify-content-center align-items-center">    
                                                    <button class="btn btn-primary submit_button" style="width: 45%;">
                                                        Submit
                                                    </button>   
                                    
                                                </div> 
                                            </div>

                                     
                                            <div class="main justify-content-around">
                                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                                                </svg>
                                                
                                                <div class="text congrats" >
                                                    <h2 class="py-2">Success!</h2>
                                                    <h5>Your information have been submitted successfully.</h5>
                                                    <h5>We will contact you soon.</h5>
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </section>

                    </form>
                </div>
          </div> 
      </div>
    
    </section>

      

{% endblock %}
